:root {
    --blanco: #ffffff;
    --osscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    font-family: Krub, Helvetica, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.navegacion-principal a {
    text-decoration: none;
    padding: 1rem;
    color: #ffffff;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--osscuro);
}

.hero {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/* Mis servicios */
.servicios {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
        gap: 2rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
    margin-bottom: 1rem;
}

.servicio p {
    line-height: 1.6;
    color: var(--gris);
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.servicio .iconos svg {
    width: 50%;
    height: 50%;
    fill: var(--blanco);
}

/*contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /*ahorra media query.
    pregunta : que es más ancho , 60 rem o 100% del ancho de la pantalla?*/
    margin: 0 auto;
    padding: 2rem; /*padding es el relleno d e adentro para ajustar ellementos*/
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--primario);
}

.contenedor-campos{

}

.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block; /*tomaá el espacio disponible*/
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea{
    height: 20rem;
}

/* utilidades */
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
 .w-sm-100{
    width: auto;
 }
}
.flex{
    display:flex ;
}

.alinear-derecha{
    justify-content: flex-end;
}

@media (min-width: 768px){
 .contenedor-campos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto 20rem;
 }
 .campo:nth-child(3),
 .campo:nth-child(4){
        grid-column: 1/3;
    }
}

.footer p{
    text-align: center;
}
